mixin Cta 
  +Section.py-0
    +Background({ image: `${CWD}assets/img/gallery/cta-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover',} }, className: 'z-index--1 rounded-3' })
    .row.flex-center.py-5
      .col-xxl-9.py-5.text-center
        h1.fw-bold.mb-6.fs-lg-7 Get your commercial product
          br
          |images today that matter 
        a.btn.btn-lg.btn-warning.rounded-pill(href='#') Get Started Now
          i.fas.fa-check.ms-2