append variables
  -
    var headerProducts= [
      {
        image:'product-1.png',
      },
      {
        image:'product-2.png',
      },

      {
        image:'product-3.png',
      },
      {
        image:'product-4.png',
      },

      {
        image:'product-5.png',
      },
       {
        image:'product-1.png',
      },
      {
        image:'product-2.png',
      },

      {
        image:'product-3.png',
      },
      {
        image:'product-4.png',
      },

      {
        image:'product-5.png',
      },
    ]

mixin HeaderProductCard(config)
  img(src=`${CWD}assets/img/gallery/${config.image}`  alt='products').w-100

mixin HeroHeader({id})
  section.py-0#header
    .container
      .row.align-items-center.min-vh-75.min-vh-md-50
        .col-12.text-center.py-8
          h1.lh-sm.fs-lg-6.fs-xxl-7 San Francisco Based 
            br
            | Product Photography  Services 
          p.text-700 Get high-quality aesthetic photographs of your valuable products within few days 
          .mt-5
            a.btn.btn-sm.btn-warning.rounded-pill(href="#!")
              i.fas.fa-camera.me-2
              | Book a photoshoot
    .container-fluid  
      .row.gx-2 
        .col-12    
          .swiper-container.pb-4.overflow-hidden(data-pagination-target=id) 
            .swiper-wrapper
              each item in headerProducts
                .swiper-slide.h-auto
                  +HeaderProductCard(item) 
            //- .swiper-pagination(id=id)