mixin HowItHappens 
	+Section.py-0#howitworks
		.row
			.col-12 
				p.text-center How It happens 
				h1.text-center.lh-sm.fs-lg-6.fs-xxl-7 You deliver-We Click

		.row.mt-6
			.col-12.col-md-4.d-flex.flex-column.align-items-center
				.badge.badge-circle.bg-soft-primary.flex-center
					.text-primary.fs-7.font-base 1
				h5.text-primary.text-center.mt-3 Inform us about your product 
				p.text-center.mx-xl-7 Introduce your product, select through the pricing plan and let us know if you have any references in mind
			.col-12.col-md-4.d-flex.flex-column.align-items-center
				.badge.badge-circle.bg-soft-warning.flex-center
					.text-warning.fs-7.font-base 2
				h5.text-primary.text-center.mt-3 Deliver your products 
				p.text-center.mx-xl-7 Deliver the sujects at our doorstep, we will click perfect shots in no time and make it online ready
			.col-12.col-md-4.d-flex.flex-column.align-items-center
				.badge.badge-circle.bg-soft-success.flex-center
					.text-success.fs-7.font-base 3		
				h5.text-primary.text-center.mt-3 Reviewing the shots
				p.text-center.mx-xl-7 After the photoshoot, you will get to review the shots and let us know if there any modification needed.

		hr.mt-6